body{
    background-color: #2A5800;
    color: #F6F7E9;
    font-family: Arial, sans-serif;
}
header{
    background-color:#585500;
    color: #FAF7DC;
    text-align: center;
    padding: 30px;

}

h1{
    font-size: 36px;
}
h2{ 
    color:#003266;
}
p { 
    font-size: 18px;
    line-height: 1.6;
}

